.App {
  text-align: left;
  display : flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 8vh;
  max-height: 15vh;
  align-items: center;
  justify-content: center; 
  flex-wrap: nowrap; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  padding: 5px;  
}

.App-header-logo {
  justify-content: left;
}

.App-header-title {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.App-header-user-info {
  justify-content: right;
  padding: 5px;
  margin-right: 5px;
}

.App-header-logo img {
  height: 30px;
  padding: inherit;
}

.App-header-user-info img {
  height: 30px;
  border-radius: 50%;
  padding: inherit;
}

.App-header-user-info div {
  padding: inherit;
}

.App-content{
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: left;
  float: left;
  margin-top: 15vh;
  margin-left: 10px;
  margin-right: 5px;
}

.App-item-details-box {
  margin-left: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-nav{
  min-height: 2vh;
  max-height: 5vh;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 5px;    
}

.App-tabstop{
  display: inline-block;
  margin: 2px 2px 0 0;
}

.App-error{
  color: crimson;
  background-color: lightyellow;
  align-items: center;
  justify-content: center;  
  text-align: center;
}

.App-info{
  color: rgb(50, 20, 220);
  background-color: lightyellow;
  align-items: center;
  justify-content: center;  
  text-align: center;
}

.App-codebox {
  border-width:2px;
  border-style:solid;
  border-color:black;
}

button, [type=link]{
  background: transparent;
  padding: 5px;
  border: none;
  display: flex;
  margin: 5px;
}

.button:hover, [type=link]:hover {
  color: #0250bc;
  background: transparent;
  border: none;
}

